{% extends "base.html" %}

{% block header %}

<!-- Page Header-->
{% set url_bg = url_for("static", filename=post.header_bg_image) %}
<header class="masthead" style="background-image: url('{{url_bg}}')">
    <div class="container position-relative px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-md-10 col-lg-8 col-xl-7">
                <div class="post-heading">
                    <h1>{{post.heading}}</h1>
                    <h2 class="subheading">{{post.subheading}}</h2>
                    <span class="meta">
                        Posted by
                        <a href="#!">{{post.user.name}}</a>
                        on {{post.published_at}}
                    </span>
                </div>
            </div>
        </div>
    </div>
</header>
{% endblock %}


{% block main %}
<!-- Post Content-->
<article class="mb-4">
    <div class="container px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-md-11 col-lg-9 col-xl-8">
                {% include(post.content) %}
            </div>
        </div>
    </div>
</article>
{% endblock %}
